<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- preload everything necessary -->
    <link rel="preload" href="/css/page.css" as="style">
    <link rel="preload" href="/js/jquery-3.3.1.min.js" as="script">
    <link rel="preload" href="/js/bootstrap.bundle.min.js" as="script">
    <link rel="preload" href="/css/leaflet.bundle.css" as="style">
    <link rel="preload" href="/js/leaflet.bundle.min.js" as="script">
<!-- end preloads -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ .Site.Params.Description }}">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="robots" content="index,follow">
<meta name="theme-color" content="#ffffff">
<base href="{{ .Site.BaseURL }}">
<title>{{ .Site.Params.title }}</title>
<link rel="stylesheet" href="/css/page.css">
<link rel="stylesheet" href="/css/leaflet.bundle.css">